<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        th{
            background-color: aqua;
            text-align: center;
        }
        td{
            background-color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
        #equipment_table{
            border:2px solid black;
            padding: 10px;
            width: 75%;
            border-collapse: separate;
            table-layout: auto
        }
        a {
            color: blue;
        }
    </style>

</head>
<body>

    <h1><i><u>Welcome to the Inventory !</u> (Employee)</i></h1>
    <br>

    <table id="equipment_table">
        <tr>
        <th>ID</th>
        <th>Equipment</th>
        <th>Available</th>
        <th>Current User</th>
        <th>Issue</th>
        <th>Return</th>
        </tr>

        {% for record in records %}
            <tr>
                <td>{{record['equipID']}}</td>
                <td>{{record['equipName']}}</td>
                {% if record['issued']!=1 %}
                    <td>Yes</td>
                    <td>None</td>
                    <!-- Only issue -->
                    <td>
                        <form action="/issue">
                            <input type="hidden" name="equipID" value={{record['equipID']}}>
                            <input type="submit" value="Issue">
                        </form>
                    </td>
                    <td>--</td>
                {% else %}
                    <!-- Only return -->
                    <td>No</td>
                    <td>{{record['holderID']}}</td>
                    <td>--</td>
                    <td>
                        <form action="/returnPost" method="post">
                        <input type="hidden" name="empID" id="empID" value={{record['holderID']}}>
                        <input type="hidden" name="equipID" id="equipID" value={{record['equipID']}}>
                        <input type="submit" name="return-form" id="return-form" value="Return">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li><h2>{{ message }}</h2></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

    </table>

    <div>
        <br>
        <h2><i>For manager: <a href="{{ url_for('manager_home') }}"> ClickHere</a></i></h2>
    </div>

</body>
</html>